/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

# Build artifacts
main.js
main.js.map
dist/
*.js.map

# Remove from gitignore once ready to submit and correct docs are in place.
/docs/*